dist
node_modules
build
npm-debug.log
.env
.DS_Store
*.swp
*.swo
.meteor/*
/test/js
/test/browsertest/js
/test/fixtures/temp-*
/test/temp
/test/ChangesAndRemovals
/benchmark/js
/benchmark/fixtures
/examples/**/dist
/coverage
*.log
.idea
.vscode
.cache
.eslintcache
package-lock.json
