/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: local('Dosis Light'), local('Dosis-Light'), url(/unulingvo/assets/fonts/SHQzTQBI7152hSrIuGUiVBkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: local('Dosis Light'), local('Dosis-Light'), url(/unulingvo/assets/fonts/7aJzV14HzAOiwNTiPgucGXYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(/unulingvo/assets/fonts/3isE9muMMOq1K7TQ7HkKvIDGDUGfDkXyfkzVDelzfFk.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(/unulingvo/assets/fonts/oaBFj7Fz9Y9_eW3k9Jd9X6CWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  background-color: #e9e9e9;
  /*background-color: orange;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
}

a.link-orange {
    color: #f18a41;
}

a.link-orange:hover,
a.link-orange:focus {
    color: #d8793a;
    text-decoration: none;
}

a.link-blue:hover,
a.link-blue:focus {
    color: #1caff6;
    text-decoration: none;
}

.main-panel {
  position: relative;
  top: 120px;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.panel {
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.08);
  -moz-box-shadow: 0 0 30px rgba(0,0,0,0.08);
  box-shadow: 0 0 30px rgba(0,0,0,0.08);
  /*background-color: rgba(255,255,255,0.97);*/
}

.display-text {
  cursor: default;
  display: inline-block;
  line-height: 26px;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.09);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,0.09);
  box-shadow: 0 0 8px rgba(0,0,0,0.09);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  padding: 12px 15px;
  border: 1px solid #ebebeb;
  height: 100px;
  width: 300px;
  margin: 30px;
}

textarea#answer {
  background-color: rgba(255,255,255,0);
  margin: 30px;
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  min-height: 100px;
  width: 300px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 0 8px rgba(0,0,0,0.05);
  box-shadow: inset 0 0 8px rgba(0,0,0,0.05);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 2px solid #ebebeb;
  padding: 8px 10px;
}

textarea#answer.correct {
  border: 2px solid #7eb530;
  color: #7eb530;
  -webkit-box-shadow: 0 0 8px rgba(126,181,48,0.4);
  -moz-box-shadow: 0 0 8px rgba(126,181,48,0.4);
  box-shadow: 0 0 8px rgba(126,181,48,0.4);
}

textarea#answer:focus {
  background-color: rgba(255,255,255,0.1);
  outline: none;
  -webkit-box-shadow: 0 0 20px #92e2ff;
  -moz-box-shadow: 0 0 20px #92e2ff;
  box-shadow: 0 0 20px #92e2ff;
  border: 2px solid #1caff6;
}

textarea#answer.correct {
  border: 2px solid #7eb530;
  color: #7eb530;
  -webkit-box-shadow: 0 0 8px rgba(126,181,48,0.4);
  -moz-box-shadow: 0 0 8px rgba(126,181,48,0.4);
  box-shadow: 0 0 8px rgba(126,181,48,0.4);
}

textarea#answer.incorrect {
  border: 2px solid #dd381d;
  color: #dd381d;
  -webkit-box-shadow: 0 0 8px rgba(221,56,29,0.4);
  -moz-box-shadow: 0 0 8px rgba(221,56,29,0.4);
  box-shadow: 0 0 8px rgba(221,56,29,0.4);
}

img.logo {
  height: 60px;
  padding: 10px 5px 5px 40px;
}

.btn {
  border-radius: 100px;
  min-width: 150px;
}

button.btn-green {
  background: #7eb530;
  color: #fff;
  border-color: #7eb530;
  font-size: 75%;
}

button#skip {
  background: #ccc;
  border-color: #ccc;
  margin-right: 5px;
  min-width: 80px;
}

button#submit {
  position: relative;
  right: 40px;
}

.tooltip-inner {
  border-radius: 30px;
  background-color: rgba(0,0,0,0.8);
  position: relative;
  bottom: 3px;
}

.tooltip.bottom .tooltip-arrow {
  display: none;
}

.select-round select {
  outline: none;
  border: none;
  color: #555;
  background: transparent;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  line-height: 1em;
  padding: 7px 45px 7px 15px;
  -webkit-appearance: none;
  -moz-appearance: window;
  overflow: hidden;
  text-indent: .01px;
  text-overflow: '';
  white-space: nowrap;
  cursor: pointer;
  display: block;
  width: 100%;
}

.select-round {
  position: relative;
  margin: 0 5px;
  /*border: 2px solid white;*/
  /*background-color: rgba(255,255,255,0.9);*/
  background-color: white;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.12);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,0.12);
  box-shadow: 0 0 8px rgba(0,0,0,0.12);
}

.select-round:after {
  content:">";
  transform: rotate(90deg);
  display:inline-block;
  position: relative;
  right: 12px;
  /*color: orange;*/
  color: #555;
}

.navbar {
  min-width: 815px;
  border-bottom: 0px;
}

div#contents {
  position: relative;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  padding: 0;
}

select#contents {
  width: 350px;
}

#arrow {
  display:inline;
  color: orange;
  vertical-align: center;
  position: absolute;
  top: 120px;
  left: 395px;
}

div.popup {
  height: 50px;
  padding: 13px;
  width: 100px;
  color: white;
  border-radius: 100px;
  display: none;
}

footer.footer {
    text-align: center;
    /*color: white;*/
    color: #777;
    font-size: 80%;
    position: relative;
    top: 320px;
}

@media screen and (max-device-width: 768px)
              and (orientation: portrait) {
  body {
    font-size: 500%;
  }
  
  h1, h2 {
    font-size: 180%;
  }

  .main-panel {
    top: 0;
    width: 100%
  }

  .container {
    width: 100%;
  }

  .display-text {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 0;
    padding: 30px 40px;
    height: 300px;
    line-height: 120%;
  }

  textarea#answer {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0;
    padding: 20px;
    height: 300px;
  }

  button#submit {
    display: block;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 100%;
  }

  .tooltip-inner {
    display: none;
  }

  img.logo {
    height: 100px;
  }

  label.select-round {
    width: 500px;
    bottom: 10px;
    padding: 5px;
  }

  select#contents {
    width: 450px;
    font-size: 90%;
    display: inline;
  }

  div#contents {
    top: 0;
    left: 75px;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  #arrow {
    position: relative;
    top: 0;
    left: 0;
    display:inline-block;
    transform: rotate(90deg);
  }

  footer.footer {
    top: 0;
  }
}

@media screen and (max-device-width: 768px)
              and (orientation: landscape) {
  body {
    font-size: 280%;
  }
  
  h1, h2 {
    font-size: 120%;
  }

  .main-panel {
    top: 0;
    width: 100%
  }

  .container {
    width: 100%;
  }

  .display-text {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 0;
    padding: 24px 30px;
    height: 150px;
    line-height: 120%;
  }

  textarea#answer {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0;
    padding: 20px;
    height: 150px;
  }

  button#submit {
    display: block;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 100%;
  }

  .tooltip-inner {
    display: none;
  }

  img.logo {
    height: 70px;
  }

  select#contents {
    font-size: 90%;
  }

  div#contents {
    top: 0;
    left: 75px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  select#contents {
    width: 450px;
  }

  #arrow {
    position: relative;
    top: 0;
    left: 0;
    display:inline-block;
    transform: rotate(90deg);
  }

  footer.footer {
    top: 0;
  }
}
