body {
  /*font-family: 'Varela Round', sans-serif;*/
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  background-color: #e9e9e9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
}

a.link-orange {
    color: #f18a41;
}

a.link-orange:hover,
a.link-orange:focus {
    color: #d8793a;
    text-decoration: none;
}

.main-panel {
  position: relative;
  top: 120px;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.panel {
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.08);
  -moz-box-shadow: 0 0 30px rgba(0,0,0,0.08);
  box-shadow: 0 0 30px rgba(0,0,0,0.08);
}

.display-text {
  cursor: default;
  display: inline-block;
  line-height: 26px;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.12);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,0.12);
  box-shadow: 0 0 8px rgba(0,0,0,0.12);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  padding: 15px 20px 20px 19px;
  border: 1px solid #ebebeb;
  height: 100px;
  width: 300px;
  margin: 30px;
}

textarea#answer {
  margin: 30px;
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  min-height: 100px;
  width: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.12);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,0.12);
  box-shadow: 0 0 8px rgba(0,0,0,0.12);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 2px solid #ebebeb;
  padding: 8px 10px;
}

textarea#answer.correct {
  border: 2px solid #7eb530;
  color: #7eb530;
  -webkit-box-shadow: 0 0 8px rgba(126,181,48,0.4);
  -moz-box-shadow: 0 0 8px rgba(126,181,48,0.4);
  box-shadow: 0 0 8px rgba(126,181,48,0.4);
}

textarea#answer.correct {
  border: 2px solid #7eb530;
  color: #7eb530;
  -webkit-box-shadow: 0 0 8px rgba(126,181,48,0.4);
  -moz-box-shadow: 0 0 8px rgba(126,181,48,0.4);
  box-shadow: 0 0 8px rgba(126,181,48,0.4);
}

textarea#answer.incorrect {
  border: 2px solid #dd381d;
  color: #dd381d;
  -webkit-box-shadow: 0 0 8px rgba(221,56,29,0.4);
  -moz-box-shadow: 0 0 8px rgba(221,56,29,0.4);
  box-shadow: 0 0 8px rgba(221,56,29,0.4);
}

img.navbar-brand {
  height: 60px;
  padding: 10px 5px 5px 40px;
}

.btn {
  border-radius: 100px;
  min-width: 150px;
}

button.btn-green {
  background: #7eb530;
  color: #fff;
  border-color: #7eb530;
  font-size: 75%;
}

button#skip {
  background: #ccc;
  border-color: #ccc;
  margin-right: 5px;
  min-width: 80px;
}

button#submit {
  position: relative;
  right: 40px;
}

.navbar {
  min-width: 815px;
  border-bottom: 0px;
}

.form-control {
  display: block;
  width: 100%;
  height: 45px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #2c3e50;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #dce4ec;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

div#contents {
  position: relative;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  padding: 0;
}

select#contents {
  width: 300px;
}

#arrow {
  display:inline;
  color: orange;
  vertical-align: center;
  position: absolute;
  top: 120px;
  left: 395px;
}

div.popup {
  height: 50px;
  padding: 13px;
  width: 100px;
  color: white;
  border-radius: 100px;
  display: none;
}

footer.footer {
    text-align: center;
    color: #777;
    font-size: 80%;
    position: relative;
    top: 320px;
}

@media screen and (max-device-width: 768px)
              and (orientation: portrait) {
  body {
    font-size: 500%;
  }
  
  h1, h2 {
    font-size: 180%;
  }

  .main-panel {
    top: 0;
    width: 100%
  }

  .container {
    width: 100%;
  }

  .display-text {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 0;
    padding: 30px;
    height: 300px;
    line-height: 100%;
  }

  textarea#answer {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0;
    padding: 20px;
    height: 300px;
  }

  button#submit {
    display: block;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 100%;
  }

  img.navbar-brand {
    height: 100px;
  }

  .form-control {
    height: 100px;
    font-size: 75%;
  }

  div#contents {
    top: 0;
    left: 75px;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  #arrow {
    position: relative;
    top: 0;
    left: 0;
  }
}

@media screen and (max-device-width: 768px)
              and (orientation: landscape) {
  body {
    font-size: 280%;
  }
  
  h1, h2 {
    font-size: 120%;
  }

  .main-panel {
    top: 0;
    width: 100%
  }

  .container {
    width: 100%;
  }

  .display-text {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 0;
    padding: 30px;
    height: 150px;
  }

  textarea#answer {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0;
    padding: 20px;
    height: 150px;
  }

  button#submit {
    display: block;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 100%;
  }

  img.navbar-brand {
    height: 70px;
  }

  .form-control {
    height: 50px;
    font-size: 80%;
  }

  div#contents {
    top: 0;
    left: 75px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  select#contents {
    width: 350px;
  }

  #arrow {
    position: relative;
    top: 0;
    left: 0;
  }
}
